<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>134775630942-om2nc0ssdrv9m387lf8jaa0b4i1ld28i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134775630942-om2nc0ssdrv9m387lf8jaa0b4i1ld28i</string>
	<key>API_KEY</key>
	<string>AIzaSyDI-zY9BBqDIEwvgynBn2OPrP649JJ9ULA</string>
	<key>GCM_SENDER_ID</key>
	<string>134775630942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rigel.-.Code-Library</string>
	<key>PROJECT_ID</key>
	<string>codelibrary-1489476395151</string>
	<key>STORAGE_BUCKET</key>
	<string>codelibrary-1489476395151.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:134775630942:ios:1e39508fb92fcd50</string>
	<key>DATABASE_URL</key>
	<string>https://codelibrary-1489476395151.firebaseio.com</string>
</dict>
</plist>